<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Login</title>

  <!-- Custom fonts for this template-->
  <link href="/vendor/fontawesome-free///css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-cp-image"></div>
              <div class="col-lg-6">
                <div class="p-5">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Password Change!</h1>
                  </div>

                  <form class="user" action = "/qi/user/change_password/process" id = "cp_form" method = "post" onsubmit="return checkForm();">
                    <div class="form-group">

                      <input type="password" class="form-control form-control-user" id = 'old_password' name="old_password" placeholder="Original Password">
                      <label id ="just_for_fill_empty" ></label>

                      <input type="password" class="form-control form-control-user" id = 'new_password' name="new_password" placeholder="New Password" onchange = "Password_check_using_Regualation()">
                      <label id ="lb_new_pw"></label>

                      <input type="password" class="form-control form-control-user" id = 'new_password_confirm' name="new_password_confirm" placeholder="Repeat New Password" onchange = "Password_check_using_Regualation()">
                      <label id ="lb_new_pw_cf"></label>

                      <input type = "hidden" id = 'usn' name = 'usn' >
                    </div>
                    <div class="form-group">
                      <div class="custom-control custom-checkbox small">
                        <input type="checkbox" class="custom-control-input" id="customCheck">
                        <label class="custom-control-label" for="customCheck">Remember Me</label>
                      </div>
                    </div>
                    <input type ="submit" class="btn btn-primary btn-user btn-block"  value = 'Find Password!'>
                    <hr>
                    <a href="/qi/sign-in" class="btn btn-google btn-user btn-block">
                      Go to Sign in!
                    </a>
                  </form>

                  <hr>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

  </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>


                            {# #}

  <script>
    $('#cp_form').submit(function( event ) {
      var posting = $.post( "/qi/user/change_password/process" ,
                             { old_password: $("#old_password").val(), new_password: $("#new_password").val(), usn: $("#usn").val()} );

      posting.done(function( data ) {
        if(data['result_code'] == 1){
          localStorage.removeItem('usn');
          localStorage.removeItem('email');
          
          window.location.href = "http://teama-iot.calit2.net/qi/sign-in";//redirect로 바꾸기
          alert('Change Password Success! login again please!');
        }else if(data.result_code == 2){
          localStorage.removeItem('usn');
          localStorage.removeItem('email');
          
          window.location.href = "http://teama-iot.calit2.net/qi/sign-in";
          alert('Change Password Fail! login again please!');
        }else if(data.result_code == 3){
          window.location.href = "http://teama-iot.calit2.net/qi/user/change_password";
          alert('Change Password Fail! Password is wrong!!');
        }else{
         // localStorage.removeItem('usn');
         // localStorage.removeItem('email');
          
          window.location.href = "http://teama-iot.calit2.net/qi/sign-in";
          alert(data);
        }
      });

    });
  </script>


  <script>
      window.onload = function(){
        var usn = localStorage.getItem('usn');
        document.getElementById('usn').value = usn;
      }


      // return 0 : not correct, return 1 : correct
      function Password_check_using_Regualation(){
        var pw = document.getElementById('new_password').value;
        var pw_confirm = document.getElementById('new_password_confirm').value;

        var special_symbol_reqExp = /[\{\}\[\]\/?.,;:|\)*~`!^\-_+<>@\#$%&\\\=\(\'\"]/gi;
        var capital_reqExp = /[A-Z]/;
        var flag = 0;

        if(pw.length <= 8 || pw.search(special_symbol_reqExp) == -1 || pw.search(capital_reqExp) == -1){
          document.getElementById('lb_new_pw').innerHTML = "Password must be over 8 character include Special Symbol, Capital, Number";
          flag = 0;

          return 0;
        }else{
          document.getElementById('lb_new_pw').innerHTML = "That's right!";
          flag = 1;
        }

        //checking password confirm
        if(flag == 1 && pw == pw_confirm){
          document.getElementById('lb_new_pw').innerHTML = "Correct!";
          document.getElementById('lb_new_pw_cf').innerHTML = "Correct!";
          return 1;
        }else if(pw != pw_confirm){
          document.getElementById('lb_new_pw_cf').innerHTML = "Password is not same!";
          return 0;
        }else{
          document.getElementById('lb_new_pw_cf').innerHTML = "Please check password requirement!";
        }
      }

      
      {# check form before send #}
      function checkForm(){
        if(document.getElementById('lb_new_pw_cf').textContent !='Correct!'){
          alert('Please fill your information! and check!');
          return false;
        }else{
            return true;
        }
      }
  </script>

  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap//js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/js/sb-admin-2.min.js"></script>

</body>

</html>
