<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Register</title>

  <!-- Custom fonts for this template-->
  <link href="/vendor/fontawesome-free//css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body class="bg-gradient-primary">


  <div class="container" style="padding-left:0px; padding-right:0px;">

    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
          <div class="col-lg-7">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
              </div>

              <!--sign up form -->
              <form class="user" action="/qi/sign-up/process" method="post" onsubmit="return checkForm();">
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control form-control-user" id="firstname" name="FirstName" placeholder="First Name">
                  </div>
                  <div class="col-sm-6">
                    <input type="text" class="form-control form-control-user" id='lastname' name="LastName" placeholder="Last Name">
                  </div>
                </div>
                <div class="form-group">
                  <input type="text" class="form-control form-control-user" id='nickname' name="nickname" placeholder="NickName">
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="email" class="form-control form-control-user" id="email" name="Email" placeholder="Email Address" onchange="email_regExp()">
                  </div>
                  <div class="col-sm-6">
                    <label id = "lb_email" style = "margin-top:15px"></label>
                  </div>
                </div>

                <div class="form-group row">

                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="password" class="form-control form-control-user" id = "Password" name="Password" placeholder="Password" onchange="Password_check_using_Regualation()">
                    <label id = "lb_pw"></label>
                  </div>
                  <div class="col-sm-6">
                    <input type="password" class="form-control form-control-user" id = "Password_confirm" name="Password_confirm" placeholder="Repeat Password" onchange="Password_check_using_Regualation()">
                    <label id = "lb_pw_cf"></label>
                  </div>

                </div>

                <div class="form-group row">
                  <div class = "col-sm-6 mb-3 mb-sm-0">
                      <input type="date" class="form-control form-control-user" id = "birth" name="birth" placeholder="Birth" onchange="birth_regExp()">  
                  </div> 
                  <div class="col-sm-6">
                    <label id = "lb_birth" style = "margin-top:15px"><b>When do you birth?</b></label>
                  </div>
                   
                </div>

                <div class="form-group row">
                  <div class = "col-sm-6 mb-3 mb-sm-0">
                    <input type=" tel" class="form-control form-control-user" id = "phone" name="phone" placeholder="Phone Number do not include '-'" onchange="phone_regExp()">
                  </div>
                  <div class="col-sm-6">
                    <label id = "lb_phone" style = "margin-top:auto"><b>What is yout phone number?</b></label>
                  </div>
                </div>

                <div class="form-group row">
                  <div class = "col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control form-control-user" id='state' name="state" placeholder="State">
                  </div>
                  <div class="col-sm-6">
                    <label id = "lb_state" style = "margin-top:15px"><b>Where are you live? State</b></label>
                  </div>
                </div>

                <div class="form-group row">
                  <div class = "col-sm-6 mb-3 mb-sm-0">
                    <input type="text" class="form-control form-control-user" id='city' name="city" placeholder="City">
                  </div>
                  <div class="col-sm-6">
                    <label id = "lb_city" style = "margin-top:15px"><b>Where are you live? City</b></label>
                  </div>
                </div>
                <br />

                <div class="form-group row">
                  <div class = "col-sm-6 mb-3 mb-sm-0">
                    <input type="radio" id='gender' name = "gender" value="F" checked="checked" >&nbspFemale&nbsp&nbsp&nbsp&nbsp
                  </div>
                  <div class="col-sm-6">
                    <input type="radio" id='gender' name = "gender" value="M">&nbspMale
                  </div> 
                </div>

                <input type ="submit" class="btn btn-primary btn-user btn-block"  value = 'Register Account'>

              </form>


              <br />
              <div class="text-center">
                <a class="small" href="forgot-password.html">Forgot Password?</a>
              </div>
              <div class="text-center">
                <a class="small" href="login.html">Already have an account? Login!</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>



    <script>
      function StaticVar(){}
      this.StaticVar = new Array(5);

      function email_regExp(){
        var email_regExp = /^[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*@[0-9a-zA-Z]([-_.]?[0-9a-zA-Z])*.[a-zA-Z]{2,3}$/i;
        var email = document.getElementById('email').value;
        
        if(email.search(email_regExp) != -1){
          document.getElementById('lb_email').innerHTML = "<b>Correct!";
          this.StaticVar[0] = 1;
          return true;
        }
        else{
          document.getElementById('lb_email').innerHTML = "<b>It is not a email format! Ex)kangaroo@kangaroo.com";
          this.StaticVar[0] = 0;
          return false;
        }          
      }



    // return 0 : not correct, return 1 : correct
      function Password_check_using_Regualation(){
        var pw = document.getElementById('Password').value;
        var pw_confirm = document.getElementById('Password_confirm').value;

        var flag = 0;
        var special_symbol_reqExp = /[\{\}\[\]\/?.,;:|\)*~`!^\-_+<>@\#$%&\\\=\(\'\"]/gi;
        var capital_reqExp = /[A-Z]/;

        if(pw.length <= 8 || pw.search(special_symbol_reqExp) == -1 || pw.search(capital_reqExp) == -1){
          document.getElementById('lb_pw').innerHTML = "Password must be over 8 character include Special Symbol, Capital, Number";
          return 0;
        }else{
          document.getElementById('lb_pw').innerHTML = "That's right!";
          flag = 1;
        }

        //checking password confirm
        if(flag == 1 && pw == pw_confirm){
          document.getElementById('lb_pw').innerHTML = "Correct!";
          document.getElementById('lb_pw_cf').innerHTML = "Correct!";
          StaticVar.flag = 1;
          return 1;
        }else if(pw != pw_confirm){
          document.getElementById('lb_pw_cf').innerHTML = "Password is not same!";
          StaticVar.flag = 0;
          return 0;
        }else{
          document.getElementById('lb_pw_cf').innerHTML = "Please check password requirement!";
          StaticVar.flag = 0;
        }
      }

      function birth_regExp(){
        var birth_regExp = /^(19[0-9][0-9]|20\d{2})-(0[0-9]|1[0-2])-(0[1-9]|[1-2][0-9]|3[0-1])$/;
        var birth = document.getElementById('birth').value;

        if(birth.search(birth_regExp) != -1){
          document.getElementById('lb_birth').innerHTML = "<b>Correct!";
          StaticVar.flag = 1;
          return true;
        }
        else{
          document.getElementById('lb_birth').innerHTML = "<b>It is not a birth format! format it 'DD-MM-YYYY'";
          StaticVar.flag = 0;
          return false;
        }          
      }
  
      function phone_regExp(){
        var phone_regExp = /^\d{3}\d{3,4}\d{4}$/;
        var phone = document.getElementById('phone').value;

        if(phone.search(phone_regExp) != -1){
          document.getElementById('lb_phone').innerHTML = "<b>Correct!";
          StaticVar.flag = 1;
          return true;
        }
        else{
          document.getElementById('lb_phone').innerHTML = "<b>It is not a phone number format! 010XXXXXXXX except '-'";
          StaticVar.flag = 0;
          return false;
        }          
      }

      {# check form before send #}
      function checkForm(){
        if(document.getElementById('firstname').value == "" || document.getElementById('lastname').value == "" ||
            document.getElementById('nickname').value =="" || document.getElementById('state').value =="" ||
              document.getElementById('city').value == '' || document.getElementById('lb_email').textContent !='Correct!' ||
              document.getElementById('lb_pw_cf').textContent !='Correct!' ||document.getElementById('lb_birth').textContent !='Correct!' ||
              document.getElementById('lb_phone').textContent !='Correct!'){
                alert('Please fill your information! and check!');
                return false;
              }else{
                return true;
              }
      }

      
    </script>


  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap//js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/js/sb-admin-2.min.js"></script>

</body>

</html>
